<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Luminar</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/style.css">

  </head>

    <body>
        <header> 

           <nav class="navbar navbar-default navbar-inverse">
            <div class="container-fluid">
              
              <div class="navbar-header">
             
               
              <li><a href="/dashboard"><img src="./images/bars.png" id="logoImg"></a></li>
             
             </div>
              
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/">Log Out</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/sdk">SDK</a></li>
                  <li><a href="/firmware">Firmware</a></li>
                  <li><a href="/pig">Product Info Guide</a></li>
                  <li><a href="/help">Help Portal</a></li>
                  <li><a href="/sampledata">Sample Data</a></li>
                  <li><a href="/faqs">FAQs</a></li>

                </ul>
              
            </div>
          </nav> 
          
        
      </header>

      <div class="wrapper">
            <div id="welcomeSign">
              
            </div>
          <div class="wrapper center">
            <div>
              <center>
              <div class="iconContainer">
                <span class="icon"><a href="/sdk"> <img src="./images/sdk.jpg" ></a></span>
                <span class="myText">SDK</span>
              </div>
              <div class="iconContainer">
                <span class="icon"><a href="/firmware"> <img src="./images/firmware.jpg"></a></span>
                <span class="myText">Latest Firmware</span>
              </div>
              <div class="iconContainer">
                <span class="icon"><a href="/sampledata"> <img src="./images/sampledata.jpg"></a></span>
                <span class="myText">Sample Data</span>
              </div>
              
              </center>
            </div>
            <div>
              <center>
                <div class="iconContainer">
                <span class="icon"><a href="/pig"> <img src="./images/book.jpg"></a></span>
                <span class="myText">Product Info Guide</span>
              </div>
              <div class="iconContainer">
                <span class="icon"><a href="/faqs"> <img src="./images/faq.png"></a></span>
                <span class="myText">Faqs</span>
              </div>
              <div class="iconContainer">
                <span class="icon"><a href="/help"> <img src="./images/help.jpg"></a></span>
                <span class="myText">Help Portal</span>
              </div>
              
              </center>
            </div>

          </div>
      </div>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./js/jquery.validate.js"></script>
    
</html>