<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Luminar</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="./style.css">

  </head>

    <body>
        <header> 

           <nav class="navbar navbar-default navbar-inverse">
            <div class="container-fluid">
              
              <div class="navbar-header">
             
               
              <li><a href="/dashboard"><img src="./images/bars.png" id="logoImg"></a></li>
             
             </div>
              
                
                <form class="navbar-form navbar-right">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/">Log Out</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">SDK</a></li>
                  <li><a href="#">Firmware</a></li>
                  <li><a href="#">Product Info Guide</a></li>
                  <li><a href="#">Help Portal</a></li>
                  <li><a href="#">Sample Data</a></li>
                  <li><a href="#"></a></li>

                </ul>
              
            </div>
          </nav> 
          
        
      </header>

      <div class="wrapper">
            <div id="welcomeSign">
              <h1> Welcome, [Name of Client] </h1>
            </div>
          <div class="list-group  main-section1">
            <a href="#" class="list-group-item list-group-item-success">SDK Files</a>
            <a href="#" class="list-group-item list-group-item-info">Latest Firmware</a>
            <a href="#" class="list-group-item list-group-item-danger">Product Info Guide</a>
          </div>
          
          <div class="list-group  main-section2">
            <a href="#" class="list-group-item list-group-item-success">Help Portal</a>
            <a href="#" class="list-group-item list-group-item-info">Sample Data</a>
            <a href="#" class="list-group-item list-group-item-danger">FAQs</a>
          </div>
      </div>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/jquery.validate.js"></script>
</html>