<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Luminar</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="./style.css">

  </head>

    <body>
        <header> 

           <nav class="navbar navbar-default navbar-inverse">
            <div class="container-fluid">
              
              <div class="navbar-header">
             
               
              <li><a href="/dashboard"><img src="./images/bars.png" id="logoImg"></a></li>
             
             </div>

                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/">Log Out</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/sdk">SDK</a></li>
                  <li><a href="/firmware">Firmware</a></li>
                  <li><a href="/pig">Product Info Guide</a></li>
                  <li><a href="/help">Help Portal</a></li>
                  <li><a href="/sampledata">Sample Data</a></li>
                  <li><a href="/faqs">FAQs</a></li>

                </ul>
              
            </div>
          </nav> 
          
        
      </header>

      <div class="wrapper">
            <div id="welcomeSign">
              <br>
            <h1><center>FAQs</center></h1>
            <!-- search form -->
            <form class="searchbox_1" action="" method="post">
                <input type="text" class="search_1" placeholder="Search" id="filter" />
               <!--  <button type="submit" class="submit_1" value="search">&nbsp;</button> -->
            </form>
            <!-- end of search search form -->
            </div>

            <ul class= "faqsList">
              <li class="blocks"> <div >
                  <i class="question">Which class did Severus Snape always want to teach?</i>
                 
                   <strong class="answer">potions</strong>
                  </div>
                </li>
                <br>
                 <li class="blocks"> <div>
                  <i class="question">What's the name of Ron Weasley's great-aunt?</i>
                 
                   <strong class="answer">Muriel </strong>
                  </div>
                </li>
                <br>

                <li class="blocks"> <div>
                  <i class="question">Which Hogwarts house did Moaning Myrtle belong in? </i>
                 
                   <strong class="answer">Ravenclaw </strong>
                  </div>
                </li>
                <br>

                 <li class="blocks"> <div>
                  <i class="question">What is the name of Fleur Delacour's sister?  </i>
                 
                   <strong class="answer">Gabrielle </strong>
                  </div>
                </li>
                <br>

                <li class="blocks"> <div>
                  <i class="question">What's the name of Tonks and Lupin's son? </i>
                 
                   <strong class="answer">Teddy</strong>
                  </div>
                </li>
                <br>

                <li class="blocks"> <div>
                  <i class="question">Which newspaper does Rita Skeeter work for? </i>
                 
                   <strong class="answer">The Quibbler</strong>
                  </div>
                </li>
                <br>

                <li class="blocks"> <div>
                  <i class="question">What class did Neville end up teaching at Hogwarts? </i>
                 
                   <strong class="answer">Herbology </strong>
                  </div>
                </li>
                <br>

                <li class="blocks"> <div>
                  <i class="question">What is the Luck potion </i>
                 
                   <strong class="answer">Felix Felices </strong>
                  </div>
                </li>
                <br>

                <li class="blocks"> <div>
                  <i class="question">What is Voldemort's mother's name?  </i>
                 
                   <strong class="answer">Merope </strong>
                  </div>
                </li>
                <br>


              </ul>
             
             
      </div>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./js/jquery.validate.js"></script>
    <script type="text/javascript" src="./js/search.js"></script>
</html>