

body{
    
  font-family: 'IM Fell English', serif;
}

.form-container {
    max-width: 400px;
    margin: 20px auto;
}

.navbar-header #logoImg {
  max-width: 100%;
  height: auto;
  width: 111px;
}


#logoImg {
    /*width: 111px;*/
    position: absolute;
    top: -25px;
    padding-bottom: -25px;
    left: 0px;
    z-index: 1;
}

@media screen and (max-width:768px) {  
    #logoImg {
    display: none;
  }
}

.center {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



#welcomeSign {
  max-width: 300px;
  height: auto;
  margin: 0 auto 0 auto;
}


.main-section1 {
  float: left;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  margin: 0 auto 0 auto;
  background: #fff;
  
}

.main-section2 {
  float: right;
  width: 100%;
  max-width:400px;
  padding: 30px;
  margin: 0 auto 0 auto;
  background: #fff;
  
}

.wrapper {
  margin: 0 auto 0 auto;
  max-width: 900px;
  height: auto;
}
.wrapper1 {
  margin: 0 auto 0 auto;
  max-width: 900px;
  height: auto;
}
.userguidepic {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.margiSep1 {
  margin-right: 30px;
}

.marginSep2 {
  margin-left: 30px;

}
.addBorder {
  border: 2px solid grey;
  border-radius: 20px;
}

.linkContainer {
  left: 113px;
  border-right: solid #000 2px;
  border-left: solid #000 2px;
  width: 45px;
  height: 60px;
  transform: skewX(-20deg);
  float: right;
  margin: 0 4px;
  background-color: #ccc;
  background: -webkit-linear-gradient(top, #fff , #696969);
  overflow: hidden;
}

.linkImg {
  width: 58px;
  transform: skewX(20deg);
  position: absolute;
  left: -8px;
  top: 6px;
}

.links {
  float:right;
  padding: 0;
  margin-right: 0;
}

#signLink {
  background: -webkit-linear-gradient(top, #af30d8 , #db9ffb);
  display: none;
}

#signInMsg {

    height: 120px;
    margin: auto;
    width: 50%;
    padding: 10px;

}

#logoLum{
  margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#signinDiv {
    margin: auto;
    width: 50%;
    padding: 10px;
}


#searchbar {
  padding: 0 20px 0 5px;
  margin-bottom: 15px;
    
}


.box {
    position: relative;
    padding: 5px;
    vertical-align: middle;
    display: none;
}

#editor {
    height: 200px;
    border: 1px solid #ccc;
}

#privacy {
    margin-left: 20px;
}

#pagiContainer {
  overflow: hidden;
  display: inline-block; 
  text-align: center;
  padding: 2px 5px;
  font-family: logo;
  font-size: 20px
}

#locationTxt {
  font-family: logo;
}


.txtDiv {
  transform: skewX(20deg);
}

.current {
  background: -webkit-linear-gradient(top, #b57c4c , #fde399);
  background-color: #ECECEC;
}

.empty {
  border: solid #000 1px; 
  border-left: 0;
  height: 30px; 
  width: 30px; 
  float: left; 
  margin: 0px;
  transform: skewX(-20deg); 
}




.clickSearch {
  cursor: pointer;
}




footer {
  background-color: #000;
}



.btn.active, .btn:active {
    opacity: 1.1;
    background-color: #f5f5f5;
    color: #000000;
    font-weight: bold;
}